<h1>
    Search by ID
</h1>
<form asp-controller="Job" asp-action="Index" method="post">
    <label for="Id">Enter Id:</label>
    <input type="text" name="Id" />

    <input type="submit" value="Search" />
</form>